.howWorks{
    background-color: #1F2E35;
    position: relative;
    z-index: 10;
    height: 100vh;
    padding-right: ;
}

h1{
    color: #3ED79A;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 100px;
    font-weight: 700;
}

h1::selection{
    background-color: #286053;
    color: #fff;
}

.cards-container {
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

