.aboutUs{
    /* background-color: coral; */
    background-color: #1F2E35;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

h1{
    color: #3ED79A;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 70px;
    font-weight: 700;
}

h1::selection{
    background-color: #286053;
    color: #fff;    
}

p{
    color: #f7f7f7;
    padding: 80px;    
    font-size: 30px;
    font-weight: 400;    
    text-align: justify;
}

p::selection{
    background-color: #286053;
    color: #fff;
    font-size: 18px;
    width:50%;
}

.images{
    background-color: #286053;
    width: 50%;
    height: 5%;
    border-radius: 30px;
    margin: 0 auto;
}

.images2{
    background-color: #26a88a;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content: center;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1100px){
    p{
        color: #f7f7f7;
        padding:80px;
        font-size: 20px;
        font-weight: 300;    
        text-align: justify;
    }
}

@media screen and (max-width: 770px){
    p{
        color: #f7f7f7;
        padding:35px;
        font-size: 20px;
        font-weight: 300;    
        text-align: justify;
    }
    .images2{
        background-color: #26a88a;
        width: 60%;
        height: 50%;
        border-radius: 30px;
        margin: 0 auto;
        display: flex;
        justify-content:center;
        align-items:center;
        align-content: center;
        flex-wrap: nowrap;
    }
    .images{
        background-color: #286053;
        width: 60%;
        height: 5%;
        border-radius: 30px;
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 530px){
    p{
        color: #f7f7f7;
        padding:30px;
        font-size: 15px;
        font-weight: 200;    
        text-align: justify;
    }
    .images2{
        background-color: #26a88a;
        width: 70%;
        height: 50%;
        border-radius: 30px;
        margin: 0 auto;
        display: flex;
        justify-content:center;
        align-items:center;
        align-content: center;
        flex-wrap: nowrap;
    }
    .images{
        background-color: #286053;
        width: 70%;
        height: 5%;
        border-radius: 30px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 260px){
    h1 {
        color: #3ED79A;
        padding-top: 60px;
        padding-bottom: 30px;
        padding-right: 80px;
        padding-left: 40px;
        font-size: 24px;
        font-weight: 600;
    }
    p {
            color: #f7f7f7;
            padding: 20px;
            font-size: 15px;
            font-weight: 200;
            text-align: justify;
        }
}