.aboutUs{
    /* background-color: coral; */
    background-color: #1F2E35;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

h1{
    color: #3ED79A;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 100px;
    font-weight: 700;
}

h1::selection{
    background-color: #286053;
    color: #fff;
}

p{
    color: #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 300;    
    text-align: justify;
}

p::selection{
    background-color: #286053;
    color: #fff;
    font-size: 18px;
    width:50%;
}

.images{
    background-color: #286053;
    width: 50%;
    height: 5%;
    border-radius: 30px;
    margin: 0 auto;
}

.images2{
    background-color: #26a88a;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items:center;
    align-content: center;
    flex-wrap: nowrap;
}
