.card{
    position: relative;
    width: 35%;
    transform: scale(0.6);
}

.num{
    color: #286053;
    font-size: 180px;
    left: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top:10px;
    position: absolute;
    z-index: 3;
}

.card-content{
    align-items: center;
    background-color: #25C685;
    border-radius: 50px;
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    margin-left:0px;
    margin-top: 150px;
    position: relative;
    width: 400px;
    z-index: 2;
}

.card-txt{
    color: #fff;
    font-size: 20px;
    z-index: 1;
    font-size: 30px;
    text-align: center;
}

.card-shadow{
    background-color: #286053;
    border-radius: 50px;
    height: 250px;
    margin-left: 25px;
    position: absolute;
    top: 170px;
    width: 400px;
    z-index: 1;
}
@media only screen and (max-width: 1024px){
    
}

@media only screen and (max-width: 855px){
    .card{
        width:70%;
        margin-right:100px;
    }
}
@media only screen and (max-width: 325px) {
    .card-content {
        align-items: center;
        background-color: #25C685;
        border-radius: 50px;
        display: flex;
        height: 250px;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        margin-left: 0px;
        margin-top: 150px;
        position: relative;
        width: 300px;
        z-index: 2;
    }

    .card-shadow {
        background-color: #286053;
        border-radius: 50px;
        height: 250px;
        margin-left: 25px;
        position: absolute;
        top: 170px;
        width: 300px;
        z-index: 1;
    }
    
}