.login{
    background-color: #1F2E35;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-size: 70px;
    color: #fff;

}

.form{
    margin: 0 auto;
    margin-top: 80px;
    width: 800px;
    background-color: #305363;
    border-radius: 30px;
}

.form-txt {
    color: #96A7AF;
    font-size: 30px;
}

.input-email, .input-password {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input-email img, .input-password img{
    width: 60px;
}
