.login {
    background-color: #1F2E35;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #3FDA9C;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 5px;
}

h2 {
    font-size: 70px;
    color: #fff;
    margin-left: 30px;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px ;
}

.form {
    margin: 0 auto;
    margin-top: 80px;
    width: 380px;
    /* background-color: #305363; */
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
}

.form-txt {
    color: #96A7AF;
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.input-email,
.input-password {
    display: flex;
    margin-top: 20px;
}

.input-email img,
.input-password img {
    width: 60px;
    margin-right: 30px;
}

.form-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button-signin{
    width: 380px;
    height: 70px;
    background-color: #25C685;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button-text-signin{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.forgot-txt-signin{
    font-size: 15px;
}

.button-signup{
    width: 380px;
    height: 70px;
    background-color: #286053;
    border-radius: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.button-text-signup{
    margin: 0;
    padding: 0;
    color: #3DD598;
    font-size: 20px;
    font-weight: 500;
}

img{
   
}
@media only screen and (max-width: 480px) {
       
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .square {
        width: 20px;
        height: 20px;
        background-color: #3FDA9C;
        border-radius: 5px;
        margin-left: 20px;
        margin-top: 5px;
    }
    
    h2 {
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
    }
    
    img{
        padding-left:0px;
        transform: scale(0.7);
    }
    
    .form {
        margin: 0 auto;
        margin-top: 0px;
        width: 330px;
        /* background-color: #305363; */
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 10px;
        transform: scale(0.6);
    }
    .form-txt {
        color: #96A7AF;
        font-size: 25px;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    .button-signin{
        width: 280px;
        height: 70px;
        background-color: #25C685;
        border-radius: 5px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
        
    .button-signup{
        width: 280px;
        height: 70px;
        background-color: #286053;
        border-radius: 5px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}