.signup {
    background-color: #1F2E35;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
}

.form2 {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 80px;
}
p{
    color:  rgb(236, 236, 236);
}
.reg {
    font-size: 70px;
    color: rgb(252, 238, 212);
    margin-left: 80px;
}

.navbar-logo {
    border-radius: 30px;
}

.form-der {
    margin-right: 8px;
    width: 300px;
    margin-top: 30px;
    margin-left: 80px;
}

.form-txt {
    color: #8b989e;
    font-size: 30px;

}

.input-apellidos,
.apellido-basic {
    width: 400px;
    margin-bottom: 30px;
    background-color: #dadada;
    border-radius: 30px;

}

.input-Email,
.email-basic {
    width: 400px;
    margin-bottom: 30px;
    background-color: #dadada;
    border-radius: 30px;
}

.input-confirm,
.confirm-basic {
    width: 400px;
    margin-bottom: 30px;
    background-color: #dadada;
    border-radius: 30px;
}

.form-colf {
    margin-right: 8px;
    margin-top: 30px;
    width: 400px;
}

.nombre_comp {
    width: 400px;
    margin-bottom: 30px;
    background-color: #dadada;
    border-radius: 30px;
}

.select-sexo {
    width: 400px;
    margin-bottom: 30px;
    background-color: #dadada;
    border-radius: 30px;
}

.contrasenia {
    width: 400px;
    margin-bottom: 30px;
    background-color: #dadada;
    border-radius: 30px;
}
.button-signup2{
    width: 380px;
    height: 70px;
    background-color: #286053;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left:560px;
    margin-top: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
